<script>
  $(document).ready(function () {
    const masonryContainer = $('#gallery');
    
    // Initialize Masonry after images have loaded
    masonryContainer.imagesLoaded(function () {
      masonryContainer.masonry({
        itemSelector: '.mm-columns__item',
        percentPosition: true,
      });
    });

    // Lazy-load images with IntersectionObserver
    const lazyImages = document.querySelectorAll('img[data-src]');
    const imageObserver = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const img = entry.target;
          img.src = img.dataset.src; // Load image from data-src
          img.onload = () => {
            masonryContainer.masonry('layout'); // Layout Masonry after image loads
          };
          img.removeAttribute('data-src'); // Remove data-src once image is loaded
          observer.unobserve(img); // Stop observing the image
        }
      });
    });

    lazyImages.forEach(image => {
      imageObserver.observe(image);
    });
  });
</script>

<div class="mm-columns" id="gallery">
  {% for item in site.data.index %}
  <div class="mm-columns__item">
    <a href="{{ item.src_url }}" target="_blank">
      <img
        class="mm-columns__img"
        loading="lazy"
        data-src="{{ item.src_url }}"
        src="assets/images/tort.jpg" 
        onerror="this.src='assets/images/tort.jpg'"
        alt="{{ item.name }}"
      />
    </a>
    <div class="overlay">{{ item.name }}</div>
  </div>
  {% endfor %}
</div>
